@charset "utf-8";

.copyright {
	background: #8BA305;
	color: #fff;
	text-align: center;
	font-size: 13px;
	padding: 10px;
	text-shadow: none;
}
.help{ 
	font-weight: bold; 
	font-size: 15px;
	line-height: 20px;
	text-align: left;
	i.fa-info-circle { color: #353535; }
}
.app-headblock {
	padding: 10px;
	background: #eee;
	border: 1px solid #CCC;
	margin-top: 10px;
	overflow: hidden;
	margin-bottom: 5px;
	line-height: 25px;
	h2 {
		margin-top: 5px;
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 18px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.note {
		font-size: 14px;
		line-height: 18px;
		color: #555;
		display: block;
		> p {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&.showall > p {
			white-space: normal;
		}
		&.note-big {
			font-size: 16px;
			line-height: 22px;
		}
	}
}
.app-headblock-image, .app-headblock-title { 
	float: left; 
}
.app-headblock-image {
	width: 85px;
	margin-right: 10px;
}

.collapsed-list {
	line-height: 160%;
	li:not(:last-child), p:not(:last-child) {
		margin-bottom: 5px;
	}
}

.article{
	.top{  
		background: #f2f6ea; 
		padding: 10px; 
		text-align: center;
		h2{ 
			font-size: 22px; 
			color: #244300; 
			line-height: 28px; 
			text-align:left;
		}
	}
	.date{
		line-height: 30px; 
		padding: 0 10px; 
		color: #000;
		background: #d0e686;
		a.btn-fb{ 
			float: right; 
			padding: 0 5px; 
			font-size: 13px; 
			line-height: 25px; 
			margin-top: 3px;}
	}
	
}
.article-content{
	margin: 10px; line-height: 22px;
	h3{ 
		line-height: 30px; 
		font-size: 19px;
		font-weight: bold;
	}
	p{ margin: 10px 0;  }
	ul{
		list-style-type: decimal; 
		padding-left: 40px; 
		margin: 10px 0;
		li{ margin-bottom: 5px; }
		ol{ 
			font-size: 15px; 
			list-style-type: disc; 
			margin-left: 20px; 
			list-style-type: upper-alpha;
		}
	}
}
.article-inblock {
	background: #eee;
	border: 1px solid #ccc;
	padding: 8px 10px 6px 8px;
	margin-top: 10px;
	p { margin: 0px 0 5px 0; }
}
.toggle-list {
	@include border-radius(5px);
	border: 1px solid $navy;
	li {
		line-height: 24px;
		border-bottom: 1px solid #ccc;
		&:last-child { border-bottom: none; }
	}
}
.toggle-btn {
	padding: 5px 10px;
	background: $navy;
	color: #fff;
	text-shadow: none;
	cursor: pointer;
	font-weight: bold;
	&:active { text-shadow: none; background: #C3C3C3; }
}
.toggle-target {
	display: none;
	padding: 10px;
	background: #fff;
}

.block-blue {
	padding: 10px 8px;
	text-shadow: none;
	background: $navy;
	font-weight: normal;
	color: #fff;
}
.block-white {
	padding: 10px 8px;
	background: #fff;
}

.normalToggleBox.ui-collapsible {
	.ui-collapsible-heading-toggle {
		background: $navy;
		border: none;
		&:hover, &:active { background: $navy; }
	}
	.ui-collapsible-content {
		background: #fff;
	}
	.ui-btn-icon-right:after, .ui-btn-icon-left:after {
		background-color: $navy;
	}
	.btn-cstPrimary { background-color: #01549E; }
}

.warningBox.ui-collapsible.ui-collapsible-themed-content {
	.ui-btn {
		background: $pink;
		border: none;
		&:hover, &:active { background: $pink; }
	}
	.ui-btn-icon-left:after {
		background-color: $pink;
	}
	.ui-collapsible-content.ui-body-b {
		background: #fff;
		border-color: $pink;
		color: #000;
		text-shadow: none;
	}
}

