textarea {
	min-height: 100px;
}
.ui-page-theme-a .ui-radio-on:after {
	border-color: #bbd117;
}
.ui-select, input[type=radio] {
	.ui-btn-icon-left:after, .ui-btn-icon-right:after {
		background-color: #bbd117;
	}
}

.search-form {
	overflow: hidden;
}
.search-form-input, .search-form-btn {
	float: left;
}
.search-form-input {
	padding-right: 8px;
}
.search-form-btn {
	button { 
		height: 37px; 
		width: 10px;
		&.ui-btn-icon-left:after { left: 15px; }
	}
}