.iconimg{
	&.omg{  background: url(../img/icon_omg.png) no-repeat; background-size: 50px 50px; }
	&.fb{  background: url(../img/icon_fb.png) no-repeat; background-size: 50px 50px; }
	&.phone { background: url(../img/icon_phone.png) no-repeat; background-size: 50px 50px; }
	&.mail{  background: url(../img/icon_mail.png) no-repeat; background-size: 50px 50px; }
	&.quick { background: url(../img/icon_quick.png) no-repeat; background-size: 50px 50px; }
	&.google { background: url(../img/icon_google.png) no-repeat; background-size: 50px 50px; }
	
	&.googleplay{  background: url(../img/icon/icon_googleplay.png) no-repeat; background-size: 50px 50px; }
	&.applestore{  background: url(../img/icon/icon_applestore.png) no-repeat; background-size: 50px 50px; }
	
	&.omgg{  background: url(../img/icon/icon_omgg.png) no-repeat; background-size: 50px 50px; }
	&.card{  background: url(../img/icon/icon_card.png) no-repeat; background-size: 50px 50px; }
	&.money{  background: url(../img/icon/icon_money.png) no-repeat; background-size: 50px 50px; }
	&.gashplus{  background: url(../img/icon/icon_gashplus.png) no-repeat; background-size: 50px 50px; }
	&.chili{  background: url(../img/icon/icon_chili.png) no-repeat; background-size: 50px 50px; }
	&.playe{  background: url(../img/icon/icon_playe.png) no-repeat; background-size: 50px 50px; }
	
	&.allpay{  background: url(../img/icon/icon_allpay.png) no-repeat; background-size: 50px 50px; }
	&.familymart{  background: url(../img/icon/icon_familymart.png) no-repeat; background-size: 50px 50px; }
	&.appmasterg{  background: url(../img/icon/icon_appmasterg.png) no-repeat; background-size: 50px 50px; }
	&.mycard{ background: url(../img/icon/icon_mycard.png) no-repeat; background-size: 50px 50px; }
	&.omgm{ background: url(../img/icon/icon_omgm.png) no-repeat; background-size: 50px 50px; }
	&.profile{ background: url(../img/icon/icon_profile.png) no-repeat; background-size: 50px 50px; }
	&.head { background: url(../img/icon/icon_head.png) no-repeat; background-size: 50px 50px; }
}