.cstListview.ui-listview {
	box-shadow: none;
	.ui-btn-icon-right:after {
		background-color: $green;
	}

	li {
		a.ui-btn {
			background-color: #fff;
			margin: 5px 10px;
			border-bottom: 1px solid #ddd;
			&:active { background-color: #eee; }
		}
		&:first-child {
			-webkit-border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
      -moz-border-radius-topleft: 0px;
      -moz-border-radius-topright: 0px;
      border-radius-topleft: 0px;
			border-radius-topright: 0px;
			a { 
				border-top: none; 
			}
		}
	}
}

.list-vertical {
	overflow: hidden;
	li, li span { float: left; line-height: 26px; }
	li {
		width: 49.5%;
		background: #fff;
		border: 1px solid #fff;
		&:first-child {
			border-right-width: 0;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			.dt {
				-webkit-border-top-left-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-bottomleft: 5px;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}
		}
		&:last-child {
			-webkit-border-top-right-radius: 5px;
			-webkit-border-bottom-right-radius: 5px;
			-moz-border-radius-topright: 5px;
			-moz-border-radius-bottomright: 5px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
	.dt,.dd { padding: 4px 0px; }
	.dt {
		width: 60px;
		text-align: center;
		border-right: 1px solid $navy;
		background: $navy;
		color: #fff;
		text-shadow: none;
	}
	.dd {
		background: #fff;
		color: $navy;
		padding-left: 10px;
	} 
}
.list-blocks {
	overflow: hidden;
	margin-top: 8px;
	margin-left: 5px;
	text-align: left;
	li, li a { display: inline-block; }
	li {
		width: 33%;  
		text-align: center;
		&:active { background: #eee; }
		a:link, a:visited { color: #555; }
	}
}
.list-blocks-item {
	overflow: hidden;
	display: inline-block;
	margin-bottom: 8px;
	a { margin: 5px; }
}
.list-blocks-item-name {
	font-size: 16px;
	margin-top: 5px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.mylist-icon-left {
	i{ 
		float: left;
		display: inline-block; width: 50px; height: 50px; 
		margin-right: 8px;
	}
}

.mylist-1{
	.txt{ position: relative; top: 18px; }
}

.mylist-2{
	.txt{ 
		overflow: hidden;
		h3{ margin-bottom: 3px; color: #000; font-weight: bold; }
		color: $blue;
	}
	li {
		.tag { 
			margin-left: 5px; 
			text-shadow: none;
		}
	}
	&.records{
		.date { font-weight: normal; font-size: 13px; }
		color: #000;
	}
}

.mylist-3 {
	h3 {
		color: #000;
		font-size: 18px;
		font-weight: bold;
		margin-top: 4px;
		margin-bottom: 10px;
		@extend .text-overflow;
	}
	p {
		font-size: 13px;
	}
	li {
		border: 1px solid #ddd;
		height: 52px;
		padding: 12px 10px;
		background-color: #fff;
		&:not(first-child) {
			margin-top: 5px;
		}
	}
	.btns {
		a {
			display: inline-block;
			background: $navy;
			text-shadow: none;
			@include border-radius(4px);
			&:link, &:visited { text-decoration: none; color: #fff; }
			&:active { background-color: #555; }
			&:first-child { margin-right: 4px; }
		}
	}
}
